
/*-- Layout ---------------------------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
	text-align: center;
}

body {
	font-family: 'Gothic A1', sans-serif;
	min-width: 900px;
}


/*-- Header ---------------------------------------------------------------------------------------------------*/
header {
	background-color: #1FB622;
	color: #EEEEEE;
	height: 80px;
	padding-top: 1px;
}

h1{
	text-align: center;
}

/*-- Buttons ---------------------------------------------------------------------------------------------------*/
#getBtnSubmit,
#addBtnSubmit {
	background-color: #1FB622;
	border-radius: 30px;
	border-color: #1FB622;
	color: #FFF;
	margin: 20px;
	width: 250px;
	height: 35px;
}

/*-- Add/Get Recipe Containers ---------------------------------------------------------------------------------*/
#getRecipes-container,
#addRecipes-container {
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}

#getRecipesForm legend,
#addRecipeForm legend {
	border-bottom: 1px solid #1FB622;
}


/*-- Get Recipe Form ---------------------------------------------------------------------------------------------*/
#getRecipesForm {
	margin: 20 auto;
	padding: 20px;
	width: 750px;
	border-bottom: 1px solid #1FB622;
}

#getRecipesForm div div {
	margin-top: 10px;
}

/*-- Add Recipe Form ----------------------------------------------------------------------------------------------*/
#addRecipeForm {
	background-color: #c8ffb8;
	margin: 20px auto;
	padding: 20px;
	width: 350px;
	overflow: hidden;
}

#addRecipeForm div {
	float: right;
	margin: 10px auto;
}

.addInput {
	width: 300px;
	text-align: left;
}

textarea {
	height: 100px;
}

/********************** list of selected recipes to be displayed*****************************/
.rcpName {
	background-color: #CFF0C5;
	border-style: none;
	height: 30px;
	width: 500px;
	display:inline-block;
}

.rcpName:hover {
	background-color: #1FB622;
	color: white;
}

.rcpTime {
	height: auto;
	width: 100px;
	margin-left: 10px;
	display:inline-block;
}

.rcpKind {
	height: auto;
	width: 200px;
	margin-left: 10px;
	display:inline-block;
}

.rcpDescription {
	height: auto;
	width: 60%;
	margin: 0 auto 10px auto;
	display: none;
}

.ingredientsList {
	width: 80%;
}

/* -- Footer ---------------------------------------------------------------------------------------------------*/
.footer-divider {
	min-height: calc(40vh - 100px);
}

footer {
	height: 80px;
	margin-top: 20px;
	padding-top: 35px;
	background-color: #1FB622;
	color: #EEEEEE;
	font-size: 12;
}

footer a {
	color: #EEEEEE;
	text-decoration: underline;
}

footer a:hover {
	color: #EEEEEE;
	text-decoration: none;
}