<!DOCTYPE= html>
<html lang= "en">
<head>
	<!--Basic Page Needs=====================================================-->
    <title>Recipe Selector</title>
    <!--Mobile Specific Metas================================================-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fonts================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <!--CSS==================================================================-->
    <link rel="stylesheet" href="../static/style.css">
    <!--Bootstrap============================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<header>
	<h1>Random Recipe Selector</h1>
</header>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
	      <div class="alert alert-warning alert-dismissible" role="alert" style="width: 600px; margin: 5px auto">
	      	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        {{ message }}
	      </div>
	    {% endfor %}
	  {% endif %}
	{% endwith %}
	
<button id= "getBtn" type="button" onclick= "getBtnToggle()">Get Recipes</button>
<div id= "getRecipes-container">
	<form name="getRecipes" id="getRecipesForm" action="/submit" method="GET"><!--Check if the name "getRecipes is used at all" -->
		<div>
			<div><label><strong>Type:</strong></label></div>
			<input type="checkbox" name="kindRecipes" value="all" onclick="uncheckEveryKind()" checked>All
			<input type="checkbox" name="kindRecipes" value="Soup" onclick="uncheckAll()">Soup
			<input type="checkbox" name="kindRecipes" value="Salad" onclick="uncheckAll()">Salad
			<input type="checkbox" name="kindRecipes" value="Meat" onclick="uncheckAll()">Meat
			<input type="checkbox" name="kindRecipes" value="Fish" onclick="uncheckAll()">Fish
			<input type="checkbox" name="kindRecipes" value="Legumes" onclick="uncheckAll()">Legumes
			<input type="checkbox" name="kindRecipes" value="Rice" onclick="uncheckAll()">Rice
			<input type="checkbox" name="kindRecipes" value="Pasta" onclick="uncheckAll()">Pasta
			<input type="checkbox" name="kindRecipes" value="Vegetables/Fruit" onclick="uncheckAll()">Vegetables/Fruit
			<input type="checkbox" name="kindRecipes" value="Dessert" onclick="uncheckAll()">Dessert
			<input type="checkbox" name="kindRecipes" value="Bread/Baked" onclick="uncheckAll()">Bread/Baked
		</div>
		<div>
			<div><label><strong>Number of Recipes:</strong></label></div>
			<input type= "radio" name= "numRecipes" value= "1" checked>1
			<input type= "radio" name= "numRecipes" value= "2">2
			<input type= "radio" name= "numRecipes" value= "3">3
			<input type= "radio" name= "numRecipes" value= "4">4
			<input type= "radio" name= "numRecipes" value= "5">5
			<input type= "radio" name= "numRecipes" value= "6">6
			<input type= "radio" name= "numRecipes" value= "7">7
		</div>
		<!--<button id= "getBtnSubmit" type ="button" onclick= "displayRcp()">Get Your Recipe</button> -->
		<input type="submit" value="Get your Recipe" id="getBtnSubmit" />
	</form>
</div><!--get-recipes-->

{% if kind_recipes %}
	{% for r in kind_recipes %}
		<div>
			{{ r }}
		</div>
	{% endfor %}
{% endif %}

<div id= "listRecipes-divider"></div>

<button id= "addBtn" type="button" onclick= "addBtnToggle()">Add Recipes</button>

<div id = "addRecipes-container">
	<form id="addRecipeForm" action="/submit" method="POST">
		<div>
			<label>Recipe:</label>  
			<input type="text" name="nameIn" placeholder='e.g. "Broiled chicken"' class="addInput" />
		</div>
		<div>
		<label>Kind:</label> 
			<select name="kindIn" class="addInput">
				<option value="Soup">Soup</option>
				<option value="Salad">Salad</option>
				<option value="Meat">Meat</option>
				<option value="Fish">Fish</option>
				<option value="Legumes">Legumes</option>
				<option value="Rice">Rice</option>
				<option value="Pasta">Pasta</option>
				<option value="Vegtables/Fruit">Vegetables/Fruit</option>
				<option value="Dessert">Dessert</option>
				<option value="Bread/Baked">Bread/Baked</option>
			</select>
		</div>
		<div>
			<label>Cooking Time:</label> 
			<input type="text" name= "timeIn" placeholder= 'Enter time in minutes (e.g. "90")' class="addInput" />
		</div>
		<div>
			<label>Ingredients & Quantities:</label>
			<textarea placeholder= 'Enter ingredients separeted by commas (", ")' name= 'ingredientsIn' class="addInput"></textarea>
		</div>
		<div>
			<label>Preparation:</label>  
			<textarea placeholder= "Describe the preparation process" name= 'descriptionIn' class="addInput"></textarea>
		</div>

		<input type="submit" value="Submit your Recipe" id="addBtnSubmit" />
	</form>
</div><!--add-recipes-->
<div class="footer-divider"></div>

<footer>
    <i>-- Created by <a href="http://www.jorgemartinjoven.dx.am" target="_blank">Jorge Martin Joven</a> --</i>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="../static/style.js"></script> 

</body>
</html>