<!DOCTYPE= html>
<html lang= "en">
<head>
	<!--Basic Page Needs=====================================================-->
    <title>Recipe Selector</title>
    <!--Mobile Specific Metas================================================-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fonts================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <!--CSS==================================================================-->
    <link rel="stylesheet" href="../static/style.css">
    <!--Bootstrap============================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--jQuery===============================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
<header>
	<h1>Random Recipe Selector</h1>
</header>
	<div>
	{% include 'messages.html' %}
	</div>

<div id= "getRecipes-container">
	<form name="getRecipes" id="getRecipesForm" action="/submit" method="GET">
		
		<legend>Get Your Recipe</legend>

		{% for field in get_form if field.name != "submit" and field.type == "BooleanField" %}
			{% if field.name == 'all'%}
				<label class="getFormLabel">{{ field.label() }}</label>
				{{ field(class="kindRecipesAll", onclick="uncheckKindRecipes()") }}
			{% else %}
				<label class="getFormLabel">{{ field.label() }}</label>
				{{ field(class="kindRecipes", onclick="uncheckAll()") }}
			{% endif %}
		{% endfor %}

		<label>{{ get_form.number.label() }}</label>
		{{ get_form.number(class="numRecipes") }}
		
		<p>{{ get_form.submit(id='btnSubmit') }}</p>
	</form>

	<div>
		{% include 'recipeList.html' %}
	</div>
</div><!--get-recipes-->

<aside id = "addRecipes-container">

	<form id="addRecipeForm" action="/submit" method="POST">
		
		{{ add_form.csrf_token }}

		<legend>Add Your Recipe</legend>

		<div style="background-color:#ff9494;">
			{% for field in add_form if field.name != "csrf_token" %}
				{% for error in field.errors %}
	                <p><strong>{{field.name}}:</strong> {{ error }}</p>
	            {% endfor %}
            {% endfor %}
        </div>

		<div>
			<label>{{ add_form.name.label() }}</label>  
			<p>{{ add_form.name(class_='addInput', placeholder='e.g. Broiled chicken') }}</p>
		</div>
		<div>
			<label>{{ add_form.kind.label() }}</label>
			<p>{{ add_form.kind(class_='addInput') }}</p>
		</div>
		<div>
			<label>{{ add_form.time.label() }}</label>
			<p>{{ add_form.time(class_='addInput', placeholder='Enter time in minutes (e.g. 90)') }}</p>
		</div>
		<div>
			<label>{{ add_form.ingredients.label() }}</label>
			<p>{{ add_form.ingredients(class_='addInput', placeholder='Enter ingredients separeted by commas ( , )') }}</p>
		</div>
		<div>
			<label>{{ add_form.description.label() }}</label>
			<p>{{ add_form.description(class_='addInput', placeholder="Describe preparation process") }}</p>
		</div>
		<p>{{ add_form.submit(id='btnSubmit') }}</p>
	</form>
</aside><!--add-recipes-->
<div class="footer-divider"></div>

<footer>
    <i>-- Created by <a href="http://www.jorgemartinjoven.dx.am" target="_blank">Jorge Martin Joven</a> --</i>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="../static/style.js"></script>
<script src="../static/script.js"></script> 

</body>
</html>